@import "Common.scss";

.main{height: 85.8%; padding-top: 80px;}

/* search_box */
.search_box{display: flex; flex-direction: row; justify-content: center;
    align-items: center; height: 7.3%; min-height: 53px;
    width: 85%;
    margin: 0 auto;
    .search_inner{display: flex; flex-direction: row;
        justify-content: space-between; width: 88%; height: 40px;
        background-color: #FFFFFF; border-radius: 5px;}
    }
.search_inner{width: 85%; background: rgba(255,255,255,0.5); border: none;
    padding: 0 15px;
    box-sizing: border-box; }
.search_inner>input::placeholder{text-align: center;}

/* main_section */
.main_section>header{height: 32px; line-height: 32px;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #444444;
    color: #1D4E8F;}
.main_section>ul{display: flex; flex-direction: column;
    margin-left: 6%;}
.main_section>ul>li>a{display: flex; flex-direction: row; 
    align-items: center; font-size: 16px;}
    // border-bottom: 1px solid #FFFFFF;}

.main_section>ul>li>a>span.profile_img{position: relative; left: 5px; display: block; width: 40px; height: 40px;
    margin: 10px 0; border-radius: 50%;
    margin-right: 20px;}
.main_section>ul>li>a>span.profile_img>img{width: 40px; height: 40px; border-radius: 50%;
    background-image: cover;}

.main_section .profile_img{width: 50px; height: 50px; margin:15px;}
        
.main_section .Profile_name{flex: auto;}
.main_section .profile_massages{height: 30px; line-height: 30px;
    margin-right: 8%; padding: 0 10px;
    border-radius: 5px;
    background:  rgba(255,255,255,0.5); font-size: 10px; color: #8e9399;}
