.tweet {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: #1d4e8f;
  margin-bottom: 20px;
  padding: 30px 20px;
  border-radius: 5px;
  color: #ffffff;
  text-align: right;
  margin: 30px 20px 0 auto;
  h4 {
    font-size: 14px;
  }
  img {
    position: absolute;
    right: 10px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }
  .date {
    color: rgba(56, 56, 56, 0.5);
    position: absolute;
    bottom: -15px;
    left: 20px;
    font-size: 11px;
  }
  .tweet__actions {
    position: absolute;
    bottom: 10px;
    span {
      cursor: pointer;
      &:first-of-type {
        margin-right: 10px;
      }
    }
  }
  .tweetEdit {
    .formBtn {
      cursor: pointer;
      margin-top: 15px;
      margin-bottom: 5px;
    }
  }
}
